.filters {
    align-items: center;
    display: flex;
    gap: 16px;
}

.filter {
    align-items: center;
    display: flex;
    cursor: pointer;

    // filter_title
    &_title {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
