$white: #ffffff;
$black: #000000;

$gray50: #fafafa;
$gray100: #f6f7f9;
$gray200: #e5e7ea;
$gray300: #ced2d6;
$gray400: #9ea5ad;
$gray500: #676e76;
$gray600: #596066;
$gray700: #454c52;
$gray800: #383f45;
$gray900: #24292e;
$gray1000: #1a1d1f;

$error50: #fffbfa;
$error100: #fef2f2;
$error200: #fde9e9;
$error300: #fac7c7;
$error400: #f7a1a1;
$error500: #f37373;
$error600: #f34141;
$error700: #cd3636;
$error800: #a32e2e;
$error900: #7c2323;
$error1000: #601b1b;

$warning50: #fffcf5;
$warning100: #fefaf5;
$warning200: #fbf2cb;
$warning300: #fde57e;
$warning400: #ffd16a;
$warning500: #fbbc55;
$warning600: #e9a23b;
$warning700: #c8811a;
$warning800: #a35c00;
$warning900: #8b4400;
$warning1000: #78310b;

$success50: #f6fef9;
$success100: #effdf6;
$success200: #d9f9e6;
$success300: #b8f1d2;
$success400: #8ee4ba;
$success500: #6ad09d;
$success600: #53b483;
$success700: #2f9461;
$success800: #2f7657;
$success900: #255e46;
$success1000: #1e4d3a;
